
@{
    ViewBag.Title = "NoPersons";
}

<h2>No Other Persons Exist</h2>

<p style="color:red">No other persons are registered under this account.</p>

<div>
    @Html.ActionLink("Main Menu", "Index", "Home")
</div>
