@model IEnumerable<IDFWebApp.Models.Custom.PersonSelect>

@{
    ViewBag.Title = "Select a Person";
}

<h2>Select a Person</h2>


@using (Html.BeginForm("SelectPerson", "Account"))
{
        <div class="form-group">
            @Html.DropDownList("PersonID", Session["ListOfPersons"] as SelectList, htmlAttributes: new { @class = "form-control" })
        </div>
        <div>
            <input type="submit" value="Select" class="btn btn-default" />
        </div>
}
