@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@dhresults.com">Support@dhresults.com</a><br />
</address>